<div class="jumbotron">
  <h1 class="display-4">Seja bem-vindo!</h1>
  <p class="lead">Este é o CryptoWallet, um app para você cadastrar e acompanhar as suas criptomoedas.</p>
  <hr class="my-4">
  <p>Selecione uma das opções abaixo:</p>
  	<%= render "menu" %>
</div>



<h2>Curso de Rails</h2>
<p>A data de hoje é: <%= Date.today %></p>
<p><%= nome_aplicacao %></p>

 